<div class="container mb-5">
    <div class="row justify-content-center">
        <div class="col-md-5 mt-5 bg-light rounded">
            <h1 class="text-center font-weight-bold text-primary">Update 
                Mobile Details</h1>
            <hr class="bg-light">
            <h5 class="text-center text-success"></h5>


            <form class="px-4 py-3"class="form-group" #updateMobileForm="ngForm">
                <div class="form-group">
                    <label for="name">Name</label>
                    <input type="text" class="form-control"
                        id="mobileName"  name="mobileName"
                        value="{{mobile.mobileName}}"
                        [(ngModel)]="mobile.mobileName"
                        #nameRef="ngModel" required
                       >
                       <div *ngIf="nameRef.invalid && (nameRef.dirty || nameRef.touched)">
                        <div *ngIf="nameRef.errors?.['required']" class="alert
                          alert-danger">Name is required.</div>
                      </div>
                </div>
                <div class="form-group">
                    <label for="price">Price</label>
                    <input type="text" class="form-control"
                        id="mobileCost" name="mobileCost"
                        value="{{mobile.mobileCost}}"
                        [(ngModel)]="mobile.mobileCost" 
                        #priceRef="ngModel" required>
                        <div *ngIf="priceRef.invalid && (priceRef.dirty || priceRef.touched)">
                            <div *ngIf="priceRef.errors?.['required']" class="alert
                              alert-danger">Price is required.</div>
                
                          </div>
                </div>
                <div class="form-group">
                    <label for="MfdDate">Manufacture Date</label>
                    <input type="date" class="form-control"
                        id="mfd"name="mfd"
                        value="{{mobile.mfd}}"
                        [(ngModel)]="mobile.mfd" 
                        #dateRef="ngModel" required
                        >
                        <div *ngIf="dateRef.invalid && (dateRef.dirty || dateRef.touched)">
                            <div *ngIf="dateRef.errors?.['required']" class="alert
                              alert-danger">MfdDate is must be in past.</div>
                
                          </div>
                </div>
                <div class="form-group">
                    <label for="modelNumber">Model Number</label>
                    <input type="text" class="form-control"
                        id="modelNumber"name="modelNumber"
                        value="{{mobile.modelNumber}}"
                        [(ngModel)]="mobile.modelNumber" 
                        #modelRef="ngModel" required>
                        <div *ngIf="modelRef.invalid && (modelRef.dirty || modelRef.touched)">
                            <div *ngIf="modelRef.errors?.['required']" class="alert
                              alert-danger">Username is required.</div>
                
                          </div>
                    </div>

                <div class="form-group">
                    <label for="companyName">Company Name</label>
                    <input type="text" class="form-control"
                        id="companyName" name="companyName"
                        value="{{mobile.companyName}}"
                        [(ngModel)]="mobile.companyName"
                        #CnameRef="ngModel" required>
                        <div *ngIf="CnameRef.invalid && (CnameRef.dirty || CnameRef.touched)">
                            <div *ngIf="CnameRef.errors?.['required']" class="alert
                              alert-danger">Username is required.</div>
                
                          </div>
                </div>
                <div class="form-outline mb-4">
                    <label class="form-label" for="address">Description</label>
                    <textarea type="text" id="description" class="form-control" name="address" 
                    value="{{mobile.description}}"
                    [(ngModel)]="mobile.description"
                    #addressRef="ngModel" required style="height: 50px;"
                    >
                    </textarea>
                    
          
                    <div *ngIf="addressRef.invalid && (addressRef.dirty || addressRef.touched)">
          
                      <div *ngIf="addressRef.errors?.['required']" class="alert alert-danger">Address
                        required.</div>
                    </div>
                  </div>


                <div class="form-group">
                    <input type="submit" name="submit" id="submit" class="btn
                        btn-primary btn-block"
                        value="Send"[disabled]="!updateMobileForm.form.valid"
                       (click)="updateCustomerData()" >
                </div>
            </form>
        </div>
    </div>
</div>